.footer {
  background-color: #35404F;
  text-align: center;
  padding: 10px 0;

  h3 {
    font-size: 1.1em;
    font-weight: 600;
  }
  h3 a:hover {
    color: #fff;
  }

  h3 a:visited {
    color: #fff;
  }
  p{
    font-size: .7em;
    color: #fff;
  }
}
