.navigation {
  background-color: darken($accent-color-dark, 5%);
  height: 45px;

  h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    float: left;
    padding: 10px 0 0 10px;
  }
  h2 {
    float: right;
    font-size: 1.1em;
    font-weight: 600;
    padding: 10px 10px 0 0;
  }
}
