// Third-Party
@import "dist/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "dist/bower_components/neat/app/assets/stylesheets/_neat.scss";
@import "dist/bower_components/bitters/app/assets/stylesheets/_base.scss";

//Fonts
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

// Modules and Variables
@import 'partials/variable';
@import 'partials/normalize';

// Partials
@import 'partials/directions';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/button';
@import 'partials/forms';
@import 'partials/login';

// Vendor
@import 'vendor/image-slider';

* {
  font-family: 'Helevetica', sans-serif;
  font-size: 16px;
  color: $font-color;
}

a {
  text-decoration: none;
  color: $accent-color-melon;
}

a:hover {
  color: darken($accent-color-melon, 15%);
}
